* {
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  text-align: center;
  background-image: url("/img/sfondo.jpg");
}

.logo {
  text-align: center;
}

.header {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.header > a {
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.container {
  width: 80%;
}
.container > a > img {
  width: 30%;
  border: 1px solid black;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .item {
  width: 20%;
  line-height: 25PX;
  margin-top: 20px;
  color: black;
}
footer .item > a {
  text-decoration: none;
  color: black;
}
